ENVIRONMENT=
REGION=
WEBSITE_DOMAIN=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=
PORT=
BASE_URL=
ACCESS_PRIVATE=
ACCESS_PUBLIC=
REFRESH_PRIVATE=
REFRESH_PUBLIC=
AUTH_EXPIRATION=
REFRESH_EXPIRATION=
SALT=
WEBSOCKET_SERVER_ADDR=
WEBSOCKET_ENABLED =
WEBSOCKET_ACCESS_TOKEN=